* {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: #f7f7f7;
  transition: background-color .75s; }

body.dark {
  background-color: #121212; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 1100px) {
    html {
      font-size: 60%; } }
  @media only screen and (max-width: 800px) {
    html {
      font-size: 55%; } }

.preload * {
  transition: none !important; }

.nav {
  height: 8rem;
  padding: 0 10rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0; }
  @media only screen and (max-width: 800px) {
    .nav {
      padding: 0 5rem; } }
  .nav__list {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .nav__list--item {
      list-style: none;
      font-size: 2rem;
      padding: 0 2.5rem; }
  .nav__square {
    margin-right: .55rem;
    position: fixed;
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 3;
    background-color: transparent;
    transition: all .75s; }
    .nav__square.background {
      background-color: #373b44; }
    .nav__square.open .nav__ham {
      background: transparent; }
    .nav__square.open .nav__ham::before {
      transform: rotate(45deg); }
    .nav__square.open .nav__ham::after {
      transform: rotate(-45deg); }
  .nav__ham {
    position: fixed;
    display: block;
    height: .2rem;
    width: 3rem;
    background-color: #f7f7f7;
    transition: all .8s; }
    .nav__ham::before, .nav__ham::after {
      content: "";
      height: .2rem;
      width: 3rem;
      position: absolute;
      background-color: #f7f7f7;
      transition: all .8s; }
    .nav__ham::before.newStyle {
      background-color: #f7f7f7; }
    .nav__ham::before {
      transform: translateY(-1rem); }
    .nav__ham::after {
      transform: translateY(1rem); }

.navigation__links {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  height: 100vh;
  width: 25rem;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
  transform: translateX(25rem);
  transition: all .75s; }
  .navigation__links.dark {
    background-color: #121212; }
  .navigation__links--top {
    height: 14%;
    width: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0rem;
    transition: all .75s; }
    .navigation__links--top.navigation__open {
      background-color: #373b44; }
  .navigation__links.navigation__open {
    transform: translateX(0); }
  .navigation__links--link {
    width: 100%;
    color: #373b44;
    font-size: 2.5rem;
    text-align: center;
    text-decoration: none;
    padding: 1rem 0;
    background-color: transparent;
    transition: all .75s; }
    .navigation__links--link.dark {
      color: #f5f5f5; }
    .navigation__links--link:hover {
      background-color: #eeeeee; }

.navigation__overlay {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.2rem);
  visibility: hidden;
  opacity: 0;
  transition: all .75s;
  z-index: 1; }
  .navigation__overlay.navigation__open {
    visibility: visible;
    opacity: 1; }

.nav__ham.newStyle {
  background-color: #373b44; }

.nav__ham.newStyle::before {
  background-color: #373b44; }

.nav__ham.newStyle::after {
  background-color: #373b44; }

.navigation__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0 3rem 0;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  font-size: 2rem;
  width: 17.5rem;
  cursor: pointer; }
  .navigation__button:focus {
    outline: none; }

.button--dark.dark-on {
  display: none; }

.button--light {
  display: none; }
  .button--light.light-on {
    display: block; }

.landing {
  height: 100vh;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/annie-spratt-QckxruozjRg-unsplash.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: scroll;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (min-width: 1100px) {
    .landing {
      background-attachment: fixed; } }
  .landing__header {
    text-align: center;
    font-size: 6rem;
    color: #f5f5f5;
    text-transform: uppercase;
    letter-spacing: .5rem;
    padding: 0 20rem 15rem 20rem; }
    @media only screen and (max-width: 800px) {
      .landing__header {
        font-size: 5rem;
        letter-spacing: .25rem;
        padding: 0 0 15rem 0; } }
    @media only screen and (max-width: 400px) {
      .landing__header {
        font-size: 3.75rem;
        letter-spacing: .2rem; } }

.about {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .about__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 12.5rem 25rem; }
    @media only screen and (max-width: 800px) {
      .about__content {
        padding: 6rem 17.5rem; } }
    @media only screen and (max-width: 600px) {
      .about__content {
        padding: 6rem 6rem; } }
    @media only screen and (max-width: 400px) {
      .about__content {
        padding: 6rem 4rem; } }
    @media only screen and (min-width: 1400px) {
      .about__content {
        padding: 15rem 42.5rem; } }
    @media only screen and (min-width: 2000px) {
      .about__content {
        padding: 15rem 60rem; } }
    .about__content--header {
      width: 100%;
      padding-bottom: 1rem;
      text-align: left;
      font-size: 3.5rem;
      color: #000000;
      transition: color .75s; }
      .about__content--header.dark {
        color: #f5f5f5; }
    .about__content--text {
      color: #373b44;
      font-size: 2rem;
      transition: color .75s; }
      .about__content--text.dark {
        color: #f5f5f5; }
      .about__content--text:not(:last-child) {
        padding-bottom: 1.5rem; }

.skills {
  height: fit-content; }
  .skills__header {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/shridhar-gupta-dZxQn4VEv2M-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 800px) {
      .skills__header {
        height: 22.5rem; } }
  .skills__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 4.5rem;
    letter-spacing: .25rem;
    color: #f5f5f5; }
  .skills__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 12.5rem 25rem; }
    @media only screen and (max-width: 800px) {
      .skills__content {
        padding: 6rem 17.5rem; } }
    @media only screen and (max-width: 600px) {
      .skills__content {
        padding: 6rem 6rem; } }
    @media only screen and (max-width: 400px) {
      .skills__content {
        padding: 6rem 4rem; } }
    @media only screen and (min-width: 1400px) {
      .skills__content {
        padding: 15rem 42.5rem; } }
    @media only screen and (min-width: 2000px) {
      .skills__content {
        padding: 15rem 60rem; } }
    .skills__content--header {
      width: 100%;
      padding-bottom: 1rem;
      text-align: left;
      font-size: 3.5rem;
      color: #000000;
      transition: color .75s; }
      .skills__content--header.dark {
        color: #f5f5f5; }
    .skills__content--text {
      color: #373b44;
      font-size: 2rem;
      transition: color .75s; }
      .skills__content--text.dark {
        color: #f5f5f5; }
      .skills__content--text:not(:last-child) {
        padding-bottom: 1.5rem; }

.projects {
  height: fit-content; }
  .projects__header {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tim-gouw-NSFG5sJYZgQ-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 800px) {
      .projects__header {
        height: 22.5rem; } }
  .projects__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 4.5rem;
    letter-spacing: .25rem;
    color: #f5f5f5; }
  .projects__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 12.5rem 25rem; }
    @media only screen and (max-width: 800px) {
      .projects__content {
        padding: 6rem 17.5rem; } }
    @media only screen and (max-width: 600px) {
      .projects__content {
        padding: 6rem 6rem; } }
    @media only screen and (max-width: 400px) {
      .projects__content {
        padding: 6rem 4rem; } }
    @media only screen and (min-width: 1400px) {
      .projects__content {
        padding: 15rem 42.5rem; } }
    @media only screen and (min-width: 2000px) {
      .projects__content {
        padding: 15rem 60rem; } }
    .projects__content--header {
      width: 100%;
      padding-bottom: 1rem;
      text-align: left;
      font-size: 3.5rem;
      color: #000000;
      transition: color .75s; }
      .projects__content--header.dark {
        color: #f5f5f5; }
    .projects__content--text {
      color: #373b44;
      font-size: 2rem;
      transition: color .75s; }
      .projects__content--text.dark {
        color: #f5f5f5; }
      .projects__content--text:not(:last-child) {
        padding-bottom: 1.5rem; }
  .projects__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    width: 100%; }
    @media only screen and (max-width: 2000px) {
      .projects__container {
        width: 132.5%;
        align-self: flex-start; } }
    @media only screen and (max-width: 1100px) {
      .projects__container {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        align-self: center; } }
    @media only screen and (max-width: 800px) {
      .projects__container {
        justify-content: flex-start; } }
  .projects__card-one, .projects__card {
    border: .1rem solid black;
    height: 50rem;
    width: 35rem;
    padding: 1.5rem;
    margin-top: 5rem;
    margin-right: 7.5rem;
    border-radius: .5rem;
    box-shadow: 1rem 0.8rem 2.5rem rgba(0, 0, 0, 0.4);
    transition: all 1s; }
    @media only screen and (max-width: 1100px) {
      .projects__card-one, .projects__card {
        margin-right: 0; } }
    @media only screen and (max-width: 800px) {
      .projects__card-one, .projects__card {
        height: 72.5rem;
        width: 40rem;
        margin: 5rem 0;
        padding: 2rem; } }
    @media only screen and (max-width: 600px) {
      .projects__card-one, .projects__card {
        height: 70rem;
        width: 37.5rem; } }
    @media only screen and (max-width: 400px) {
      .projects__card-one, .projects__card {
        height: 60rem;
        width: 28.5rem; } }
    @media only screen and (min-width: 1100px) {
      .projects__card-one:hover, .projects__card:hover {
        transform: scale(1.075);
        box-shadow: 1.25rem 1rem 3rem rgba(0, 0, 0, 0.4); } }
    .projects__card-one--image, .projects__card--image {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/annie-spratt-QckxruozjRg-unsplash.jpg);
      background-size: cover;
      background-position: center;
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
      border-top-left-radius: .5rem;
      border-top-right-radius: .5rem;
      height: 52.5%; }
      @media only screen and (max-width: 800px) {
        .projects__card-one--image, .projects__card--image {
          height: 55%; } }
      @media only screen and (max-width: 400px) {
        .projects__card-one--image, .projects__card--image {
          height: 48%; } }
    .projects__card-one--header, .projects__card--header {
      font-size: 2rem;
      color: #000000;
      margin-top: 2rem; }
      .projects__card-one--header.dark, .projects__card--header.dark {
        color: #f5f5f5; }
      @media only screen and (max-width: 800px) {
        .projects__card-one--header, .projects__card--header {
          font-size: 2.5rem;
          margin-top: 2.5rem; } }
    .projects__card-one--text, .projects__card--text {
      font-size: 1.5rem;
      color: #373b44;
      margin-top: 1rem; }
      .projects__card-one--text.dark, .projects__card--text.dark {
        color: #f5f5f5; }
      @media only screen and (max-width: 800px) {
        .projects__card-one--text, .projects__card--text {
          font-size: 1.75rem;
          margin-top: 1.5rem; } }
    .projects__card-one--link, .projects__card--link {
      text-decoration: none; }
    .projects__card-one--button, .projects__card--button {
      padding: 1.25rem;
      margin: 1.5rem 2rem 0 0;
      font-family: inherit;
      font-size: 1.5rem;
      border-radius: .2rem;
      border: none;
      cursor: pointer;
      transition: all .75s; }
      @media only screen and (max-width: 800px) {
        .projects__card-one--button, .projects__card--button {
          font-size: 1.75rem;
          margin: 2rem 2rem 0 0; } }
      @media only screen and (min-width: 1100px) {
        .projects__card-one--button:hover, .projects__card--button:hover {
          transform: scale(1.1);
          box-shadow: 0.5rem 0.25rem 1.25rem rgba(0, 0, 0, 0.4); } }
      .projects__card-one--button:focus, .projects__card--button:focus {
        outline: none; }
  .projects__card--image {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/ecommerceTwo.png); }

.contact {
  height: fit-content; }
  .contact__header {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/drew-hays-u3o7il8s1Fc-unsplash.jpg);
    background-size: cover;
    background-position: 0% 25%;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 800px) {
      .contact__header {
        height: 22.5rem; } }
  .contact__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 4.5rem;
    letter-spacing: .25rem;
    color: #f5f5f5; }
  .contact__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 12.5rem 25rem; }
    @media only screen and (max-width: 800px) {
      .contact__content {
        padding: 6rem 17.5rem; } }
    @media only screen and (max-width: 600px) {
      .contact__content {
        padding: 6rem 6rem; } }
    @media only screen and (max-width: 400px) {
      .contact__content {
        padding: 6rem 4rem; } }
    @media only screen and (min-width: 1400px) {
      .contact__content {
        padding: 15rem 42.5rem; } }
    @media only screen and (min-width: 2000px) {
      .contact__content {
        padding: 15rem 60rem; } }
    .contact__content--header {
      width: 100%;
      padding-bottom: 1rem;
      text-align: left;
      font-size: 3.5rem;
      color: #000000;
      transition: color .75s; }
      .contact__content--header.dark {
        color: #f5f5f5; }
    .contact__content--text {
      color: #373b44;
      font-size: 2rem;
      padding-bottom: 2.5rem;
      transition: color .75s; }
      .contact__content--text.dark {
        color: #f5f5f5; }
    .contact__content--container {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center; }
      @media only screen and (max-width: 300px) {
        .contact__content--container {
          justify-content: space-between; } }
      .contact__content--container-button {
        width: 12.5rem;
        padding: 1.25rem;
        margin: 1.5rem 2rem 0 0;
        font-family: inherit;
        font-size: 1.5rem;
        border-radius: .2rem;
        border: none;
        cursor: pointer;
        transition: all .75s; }
        @media only screen and (max-width: 800px) {
          .contact__content--container-button {
            font-size: 2rem;
            margin: 0 0 2.75rem 0; } }
        @media only screen and (max-width: 300px) {
          .contact__content--container-button {
            width: 10rem; } }
        @media only screen and (min-width: 1100px) {
          .contact__content--container-button:hover {
            transform: scale(1.1);
            box-shadow: 0.5rem 0.25rem 1.25rem rgba(0, 0, 0, 0.4); } }
        .contact__content--container-button:focus {
          outline: none; }

.footer__text {
  display: none;
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  font-size: 2rem; }

.footer__textVis {
  display: block; }
