@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
:root {
  --bg-color: black;
  --text-color: whitesmoke;
  --modal-colour: darkslategrey;
}

html[data-theme=dark] {
  --bg-color: black;
  --text-color: whitesmoke;
  --modal-colour: darkslategrey;
}

html[data-theme=light] {
  --bg-color: whitesmoke;
  --text-color: black;
  ---modal-colour: lightslategrey;
}

:root {
  --bg-color: black;
  --text-color: whitesmoke;
  --modal-colour: darkslategrey;
}

html[data-theme=dark] {
  --bg-color: black;
  --text-color: whitesmoke;
  --modal-colour: darkslategrey;
}

html[data-theme=light] {
  --bg-color: whitesmoke;
  --text-color: black;
  ---modal-colour: lightslategrey;
}

:root {
  --bg-color: black;
  --text-color: whitesmoke;
  --modal-colour: darkslategrey;
}

html[data-theme=dark] {
  --bg-color: black;
  --text-color: whitesmoke;
  --modal-colour: darkslategrey;
}

html[data-theme=light] {
  --bg-color: whitesmoke;
  --text-color: black;
  ---modal-colour: lightslategrey;
}

body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-color);
  max-width: 1750px;
}

h1 {
  font-size: 2.5rem;
  color: var(--text-color);
  margin: 0 0 1rem 0;
}
@media (max-width: 500px) {
  h1 {
    font-size: 2.25rem;
  }
}
@media (max-width: 325px) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  font-size: 2rem;
  color: var(--text-color);
  margin: 0 0 1rem 0;
}
@media (max-width: 500px) {
  h2 {
    font-size: 1.75rem;
  }
}
@media (max-width: 325px) {
  h2 {
    font-size: 1.5rem;
  }
}

p {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text-color);
}
@media (max-width: 500px) {
  p {
    font-size: 0.75rem;
  }
}
@media (max-width: 325px) {
  p {
    font-size: 0.5rem;
  }
}
p a {
  color: #ea3788;
}

:root {
  --bg-color: black;
  --text-color: whitesmoke;
  --modal-colour: darkslategrey;
}

html[data-theme=dark] {
  --bg-color: black;
  --text-color: whitesmoke;
  --modal-colour: darkslategrey;
}

html[data-theme=light] {
  --bg-color: whitesmoke;
  --text-color: black;
  ---modal-colour: lightslategrey;
}

nav {
  height: 5rem;
  width: auto;
  display: flex;
  align-items: center;
  padding: 0 5rem;
  position: relative;
}
nav .logo {
  margin: 0 0;
  color: var(--text-color);
}
nav p {
  color: var(--text-color);
  margin-left: auto;
  cursor: pointer;
}
nav img {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 5rem;
  transform: translateY(-50%);
  transition: all 1s ease;
}
nav .sun.hidden {
  opacity: 0;
  visibility: hidden;
}
nav .moon.hidden {
  opacity: 0;
  visibility: hidden;
}
nav .theme-container {
  margin: 0 0 0 auto;
  position: relative;
}
nav .theme-container p {
  cursor: pointer;
  color: var(--text-color);
  transition: all 0.75s ease;
}
nav .theme-container .theme-list-container {
  height: 50vh;
  width: 50vw;
  border-radius: 0.5rem;
  background-color: var(--modal-colour);
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 110;
}
nav .theme-container .theme-list-container.visible {
  opacity: 1;
  visibility: visible;
}
nav .theme-container .theme-list-container ul {
  display: flex;
  flex-direction: column;
}
nav .theme-container .theme-list-container ul li {
  list-style: none;
  cursor: pointer;
}

:root {
  --bg-color: black;
  --text-color: whitesmoke;
  --modal-colour: darkslategrey;
}

html[data-theme=dark] {
  --bg-color: black;
  --text-color: whitesmoke;
  --modal-colour: darkslategrey;
}

html[data-theme=light] {
  --bg-color: whitesmoke;
  --text-color: black;
  ---modal-colour: lightslategrey;
}

[data-section-main-landing] {
  height: 110vh;
  width: 60vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
@media (max-width: 1100px) {
  [data-section-main-landing] {
    width: 80vw;
  }
}
@media (max-width: 500px) {
  [data-section-main-landing] {
    width: 90vw;
  }
}
[data-section-main-landing] .heading-container {
  margin: 5rem 0 0 0;
}
[data-section-main-landing] .text-container {
  margin: 2.5rem 0 0 0;
  max-width: 1000px;
}
[data-section-main-landing] .text-container p {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text-color);
}
@media (max-width: 500px) {
  [data-section-main-landing] .text-container p {
    font-size: 0.75rem;
  }
}
@media (max-width: 325px) {
  [data-section-main-landing] .text-container p {
    font-size: 0.5rem;
  }
}
[data-section-main-landing] .text-container p a {
  color: #ea3788;
}
[data-section-main-landing] .buttons-container {
  margin: auto 0 5rem 0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  [data-section-main-landing] .buttons-container {
    flex-direction: column;
  }
}
[data-section-main-landing] .buttons-container button {
  background-color: lightgrey;
  height: 3rem;
  width: 10rem;
  border-radius: 0.25rem;
  border: 0;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  margin-right: 2.5rem;
  margin-bottom: 1rem;
}
[data-section-main-landing] .buttons-container button:hover {
  background-color: lightgray;
}
[data-section-main-landing] .buttons-container button a {
  text-decoration: none;
}

:root {
  --bg-color: black;
  --text-color: whitesmoke;
  --modal-colour: darkslategrey;
}

html[data-theme=dark] {
  --bg-color: black;
  --text-color: whitesmoke;
  --modal-colour: darkslategrey;
}

html[data-theme=light] {
  --bg-color: whitesmoke;
  --text-color: black;
  ---modal-colour: lightslategrey;
}

.main-projects-container {
  height: 110vh;
  width: 60vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
@media (max-width: 1100px) {
  .main-projects-container {
    width: 80vw;
  }
}
@media (max-width: 500px) {
  .main-projects-container {
    width: 90vw;
  }
}
.main-projects-container h1 {
  font-size: 2.5rem;
  color: var(--text-color);
  margin: 0 0 1rem 0;
}
@media (max-width: 500px) {
  .main-projects-container h1 {
    font-size: 2.25rem;
  }
}
@media (max-width: 325px) {
  .main-projects-container h1 {
    font-size: 2rem;
  }
}
.main-projects-container h2 {
  font-size: 2rem;
  color: var(--text-color);
  margin: 0 0 1rem 0;
}
@media (max-width: 500px) {
  .main-projects-container h2 {
    font-size: 1.75rem;
  }
}
@media (max-width: 325px) {
  .main-projects-container h2 {
    font-size: 1.5rem;
  }
}
.main-projects-container .project-heading {
  font-size: 2.25rem;
  color: var(--text-color);
  margin: 0 0 1rem 0;
}
@media (max-width: 500px) {
  .main-projects-container .project-heading {
    font-size: 1.75rem;
  }
}
@media (max-width: 325px) {
  .main-projects-container .project-heading {
    font-size: 1.5rem;
  }
}
.main-projects-container .project-heading.light-mode {
  color: var(--text-color);
}
.main-projects-container .project-subheading {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text-color);
}
@media (max-width: 500px) {
  .main-projects-container .project-subheading {
    font-size: 0.75rem;
  }
}
@media (max-width: 325px) {
  .main-projects-container .project-subheading {
    font-size: 0.5rem;
  }
}
.main-projects-container .project-subheading a {
  color: #ea3788;
}
.main-projects-container .project-text {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text-color);
}
@media (max-width: 500px) {
  .main-projects-container .project-text {
    font-size: 0.75rem;
  }
}
@media (max-width: 325px) {
  .main-projects-container .project-text {
    font-size: 0.5rem;
  }
}
.main-projects-container .project-text a {
  color: #ea3788;
}

.overlay {
  opacity: 0;
  visibility: hidden;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.75s ease;
  z-index: 100;
}
.overlay.visible {
  opacity: 1;
  visibility: visible;
}

footer {
  height: 5rem;
  width: auto;
  display: flex;
  align-items: center;
  padding: 0 5rem;
}

footer .logo {
  margin: 0 0;
  color: var(--text-color);
}

/*# sourceMappingURL=style.css.map */
