.about {
    height: 110vh; // todo these settings break on small devices because the unit is vh.
    background-color: #f7f7f7; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: $tablet) {
        height: 90rem;
    }

    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 0 12.5rem;

        @media only screen and (max-width: $tablet) {
            padding: 4rem 17.5rem;
        }

        @media only screen and (max-width: $small-tablet) {
            padding: 4rem;
        }

        // @media only screen and (max-width: $phone) {
        //     padding: 4rem 2rem;
        // }

        &--header {
            width: 100%;
            padding-bottom: 1rem;
            text-align: left;
            font-size: 3rem;
            color: black;
            // Darker headers for better design.
        }

        &--text {
            color: #373b44;
            font-size: 2rem;

            &:not(:last-child) {
                padding-bottom: 1.5rem;
            }
        }
    }
}