.about {
    height: fit-content;
    background-color: $bg-light; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 12.5rem 25rem;

        @media only screen and (max-width: $tablet) {
            padding: 6rem 17.5rem;
        }

        @media only screen and (max-width: $small-tablet) {
            padding: 6rem 6rem;
        } 

        @media only screen and (max-width: $phone) {
            padding: 6rem 4rem;
        }

        // min-width 
        @media only screen and (min-width: $large-desktop) {
            padding: 15rem 42.5rem;
        }

        @media only screen and (min-width: $very-large-desktop) {
            padding: 15rem 60rem;
        }

        &--header {
            width: 100%;
            padding-bottom: 1rem;
            text-align: left;
            font-size: 3.5rem;
            color: $header-dark;
        }

        &--text {
            color: $text-dark;
            font-size: 2rem;

            &:not(:last-child) {
                padding-bottom: 1.5rem;
            }
        }
    }
}