.about {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: $content-padding;

        @include tablet {
            padding: 6rem 17.5rem;
        }

        @include small-tablet {
            padding: 6rem 6rem;
        }

        @include phone {
            padding: 6rem 4rem;
        }

        // min-width 
        @media only screen and (min-width: $large-desktop) {
            padding: 15rem 42.5rem;
        }

        @media only screen and (min-width: $very-large-desktop) {
            padding: 15rem 60rem;
        }

        &--header {
            width: 100%;
            padding-bottom: 1rem;
            text-align: left;
            font-size: 3.5rem;
            color: $header-dark;
            transition: color .75s;

            // Dark mode
            &.dark {
                color: $header-light;
            }
        }

        &--text {
            color: $text-dark;
            font-size: 2rem;
            transition: color .75s;

            // Dark mode 
            &.dark {
                color: $text-light;
            }

            &:not(:last-child) {
                padding-bottom: 1.5rem;
            }
        }
    }
}