@use "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

html {
    font-size: 62.5%;
    // We use 62.5 percent because the default font size across browsers is 16px. Setting the font-size property to 62.5 percent, then, translates the default 16px to 10px, which makes using em or rem easier. 1rem will now equal 10px. 1.8rem will equal 18px, and so on.
}

body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background-color: var(--bg-color);
    max-width: 1750px;
}

h1 {
    @include heading-one;
}

h2 {
    @include heading-two;
}

h3 {
    @include heading-three;
}

p {
    @include paragraph;
}

a {
    text-decoration: none;
    color: var(--link-color);

    &:visited {
        // These pseudo classes might be causing the problem. It could be worth removing them and writing custom css.
        color: var(--link-visited-color);
    }

    &:hover {
        color: var(--link-hover-color);
    }
}

.hidden {
    display: none;
}
