@use "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background-color: var(--bg-color);
    max-width: 1750px;
}

h1 {
    @include heading-one;
}

h2 {
    @include heading-two;
}

p {
    @include paragraph;
}
