.contact {
    height: fit-content;
    background-color: $bg-light;

    &__header {
        background-image: linear-gradient(
            to right, 
            rgba($bg-gradient, 0.4),
            rgba($bg-gradient, 0.4)
        ),
        url(../images/drew-hays-u3o7il8s1Fc-unsplash.jpg);
        background-size: cover;
        background-position: 0% 25%; // horizontal, vertical
        height: 30rem;
        display: flex;
        align-items: center;
        justify-content: center;

        @include tablet {
            height: 22.5rem;
        }
    }

    &__title {
        text-align: center;
        text-transform: uppercase;
        font-size: 4.5rem;
        letter-spacing: .25rem;
        color: $header-light;
    }

    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: $content-padding;

        @include tablet {
            padding: 6rem 17.5rem;
        }

        @include small-tablet {
            padding: 6rem 6rem;
        }

        @include phone {
            padding: 6rem 4rem;
        }

        // min-width 
        @media only screen and (min-width: $large-desktop) {
            padding: 15rem 42.5rem;
        }

        @media only screen and (min-width: $very-large-desktop) {
            padding: 15rem 60rem;
        }

        &--header {
            width: 100%;
            padding-bottom: 1rem;
            text-align: left;
            font-size: 3.5rem;
            color: $header-dark;
        }

        &--text {
            color: $text-dark;
            font-size: 2rem;
            padding-bottom: 2.5rem;
        }

        &--container {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            @include small-phone {
                justify-content: space-between;
            }
    
            &-button {
                width: 12.5rem;
                padding: 1.25rem;
                margin: 1.5rem 2rem 0 0;
                font-family: inherit;
                font-size: 1.5rem;
                border-radius: .2rem;
                border: none;
                cursor: pointer;
                transition: all .75s;
    
                @include tablet {
                    font-size: 2rem;
                    margin: 0 0 2.75rem 0;
                }

                @include small-phone {
                    width: 10rem;
                }
    
                // min-width
                @media only screen and (min-width: $large-tablet) {
                    &:hover {
                        transform: scale(1.1);
                        box-shadow: .5rem .25rem 1.25rem rgba($box-shadow, 0.4); // horizontal, vertical, blur
                    }
                }
                
                &:focus {
                    outline: none;
                }
            }
        }
    }
}
