.landing {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 4rem;
    height: min-content; // 87.5vh
    max-width: 150rem; // Come back to his later. 
    padding: 4rem 10rem;

    @media only screen and (max-width: $large-tablet) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;   
    }

    @media only screen and (max-width: $tablet) {
        padding: 2rem 0.75rem;
    }

    &__left {
        grid-column: 1 / 2;
        height: 45rem;
        display: flex;
        align-items: center;
        justify-content: center;
        // border: .2rem solid black;

        @media only screen and (max-width: $large-tablet) {
            grid-row: 1 / 2;
        }

        &--text {
            text-transform: uppercase;
            text-align: center;
            font-size: 5rem;
            letter-spacing: .75rem;
            color: #373b44;

            @media only screen and (max-width: $phone) {
                letter-spacing: .25rem;
                font-size: 4rem;
            }
        }
    }

    &__right {
        grid-column: 2 / 3;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 2rem;
        // border: .2rem solid black;

        @media only screen and (max-width: $large-tablet) {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
        }

        @media only screen and (max-width: $tablet) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 1rem;
        }
    
        &--imageOne {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            background-image: url("https://source.unsplash.com/1600x900/?laptop");
            background-size: cover;

            @media only screen and (max-width: $tablet) {
                display: none;
            }
        }

        &--imageTwo {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            background-image: url("https://source.unsplash.com/1600x900/?tech");
            background-size: cover;

            @media only screen and (max-width: $tablet) {
                display: none;
            }
        }

        &--imageThree {
            grid-column: 3 / 4;
            grid-row: 1 / 2;
            background-image: url("https://source.unsplash.com/1600x900/?keyboard");
            background-size: cover;

            @media only screen and (max-width: $tablet) {
                display: none;
            }
        }

        &--imageFour {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            background-image: url("https://source.unsplash.com/1600x900/?programming");
            background-size: cover;

            @media only screen and (max-width: $tablet) {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
            }
        }

        &--imageFive {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            background-image: url("https://source.unsplash.com/1600x900/?computing");
            background-size: cover;

            @media only screen and (max-width: $tablet) {
                grid-column: 2 / 3;
                grid-row: 2 / 3;
            }
        }

        &--imageSix {
            grid-column: 3 / 4;
            grid-row: 2 / 3;
            background-image: url("https://source.unsplash.com/1600x900/?program");
            background-size: cover;

            @media only screen and (max-width: $tablet) {
                display: none;
            }
        }

        &--imageSeven {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
            background-image: url("https://source.unsplash.com/1600x900/?javascript");
            background-size: cover;

            @media only screen and (max-width: $tablet) {
                grid-column: 2 / 3;
                grid-row: 1 / 2;
            }
        }

        &--imageEight {
            grid-column: 2 / 3;
            grid-row: 3 / 4;
            background-image: url("https://source.unsplash.com/1600x900/?css");
            background-size: cover;

            @media only screen and (max-width: $tablet) {
                display: none;
            }
        }

        &--imageNine {
            grid-column: 3 / 4;
            grid-row: 3 / 4;
            background-image: url("https://source.unsplash.com/1600x900/?html");
            background-size: cover;

            @media only screen and (max-width: $tablet) {
                grid-column: 1 / 2;
                grid-row: 2 / 3;
            }
        }
    }
}



