.landing {
    height: 100vh;
    background-image: linear-gradient(
        to right, 
        rgba($bg-gradient, 0.4),
        rgba($bg-gradient, 0.4)
        ),
    url(../images/annie-spratt-QckxruozjRg-unsplash.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: scroll;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); // Thanks to https://bennettfeely.com/clippy/
    display: flex;
    align-items: center;
    justify-content: center;
    // todo adding a dark mode would be really cool.

    // min-width
    @media only screen and (min-width: $large-tablet) {
        background-attachment: fixed;
    }

    &__header {
        text-align: center;
        font-size: 6rem;
        color: $header-light;
        text-transform: uppercase;
        letter-spacing: .5rem;
        padding: 0 20rem 15rem 20rem;

        @include tablet {
            font-size: 5rem;
            letter-spacing: .25rem;
            padding: 0 0 15rem 0;
        }

        @include phone {
            font-size: 3.75rem;
            letter-spacing: .2rem;
        }
    }
}