.heading-container {

    &--skills {
        background-image: linear-gradient(
            to right, 
            rgba($bg-gradient, 0.4),
            rgba($bg-gradient, 0.4)
        ),
        url(../images/shridhar-gupta-dZxQn4VEv2M-unsplash.jpg);
        @include heading-styles;
    }
    

    &--projects {
        background-image: linear-gradient(
            to right, 
            rgba($bg-gradient, 0.4),
            rgba($bg-gradient, 0.4)
        ),
        url(../images/tim-gouw-NSFG5sJYZgQ-unsplash.jpg);
        @include heading-styles;
    }

    &--contact {
        background-image: linear-gradient(
            to right, 
            rgba($bg-gradient, 0.4),
            rgba($bg-gradient, 0.4)
        ),
        url(../images/drew-hays-u3o7il8s1Fc-unsplash.jpg);
        @include heading-styles;
        background-position: 0 25%;
    }
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: $content-padding;

    @include tablet {
        padding: 6rem 17.5rem;
    }

    @include small-tablet {
        padding: 6rem 6rem;
    }

    @include phone {
        padding: 6rem 4rem;
    }

    // min-width 
    @media only screen and (min-width: $large-desktop) {
        padding: 15rem 42.5rem;
    }

    @media only screen and (min-width: $very-large-desktop) {
        padding: 15rem 60rem;
    }
}