@use "./variables.scss";

@mixin section-layout {
    height: 210vh;
    width: 60vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    @media (max-width: variables.$desktop-small) {
        width: 80vw;
    }

    @media (max-width: variables.$mobile-large) {
        width: 90vw;
    }
}

@mixin heading-one {
    font-size: 3.6rem; // Twice as big as body text
    color: var(--text-color);
    margin: 0 0 1rem 0;

    @media (max-width: variables.$mobile-large) {
        font-size: 2.4rem; // 1.5 times as big as body text
    }
}

@mixin heading-two {
    font-size: 2rem;
    color: var(--text-color);
    margin: 0 0 1rem 0;

    @media (max-width: variables.$mobile-large) {
        font-size: 1.75rem;
    }

    @media (max-width: variables.$mobile-small) {
        font-size: 1.5rem;
    }
}

@mixin heading-three {
    font-size: 2.25rem;
    color: var(--text-color);
    margin: 0 0 1rem 0;

    @media (max-width: variables.$mobile-large) {
        font-size: 1.75rem;
    }

    @media (max-width: variables.$mobile-small) {
        font-size: 1.5rem;
    }

    &.light-mode {
        color: var(--text-color);
    }
}

@mixin paragraph {
    font-size: 1.8rem;
    line-height: 1.5;
    color: var(--text-color);

    @media (max-width: variables.$mobile-large) {
        font-size: 1.6rem;
    }

    // @media (max-width: variables.$mobile-small) {
    //     font-size: 0.5rem;
    // }
}
