@use "./variables.scss";

nav {
    height: 5rem;
    width: auto;
    display: flex;
    align-items: center;
    padding: 0 5rem;
    position: relative;

    .logo {
        margin: 0 0;
        color: var(--text-color);
    }

    p {
        color: var(--text-color);
        margin-left: auto;
        cursor: pointer;
    }

    img {
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 5rem;
        transform: translateY(-50%);
        transition: all 1s ease;

        @media (max-width: variables.$mobile-large) {
            right: 1.5rem;
        }
    }

    .sun {
        &.hidden {
            opacity: 0;
            visibility: hidden;
        }
    }

    .moon {
        &.hidden {
            opacity: 0;
            visibility: hidden;
        }
    }
}
