.nav {
    height: 8rem; // 12.5vh
    padding: 0 10rem;
    display: flex;
    // This flex display affects the one child element of .nav, which is __list. 
    justify-content: flex-start;
    align-items: center;
    // display: none;
    // visibility: hidden;
    // Adding the above two items removed the hamburger!
    // color: transparent;
    position: absolute;
    top: 0;
    right: 0;

    @media only screen and (max-width: $tablet) {
        padding: 0 5rem;
    }

    &__list {
        width: 100%;
        // The width is essential here. The __list element needs to take up 100 percent of its parent, .nav, in 
        // order for the flex display to work. 
        display: flex;
        justify-content: flex-end;
        align-items: center;

        &--item {
            list-style: none;
            font-size: 2rem;
            padding: 0 2.5rem;
        }
    }

    &__square {
        margin-right: .55rem;
        position: fixed;
        height: 4rem;
        width: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 3;
        background-color: transparent;
        transition: all .75s;
        
        &.background {
            background-color: #373b44;
        }
    
        &.open .nav__ham {
            background: transparent;
        }

        &.open .nav__ham::before {
            transform: rotate(45deg)
        }

        &.open .nav__ham::after {
            transform: rotate(-45deg)
        }
    }

    &__ham {
        position: fixed;
        display: block;
        height: .2rem;
        width: 3rem;
        background-color: #f7f7f7;
        transition: all .8s;

        &::before, 
        &::after {
            content: "";
            height: .2rem;
            width: 3rem;
            position: absolute;
            background-color: #f7f7f7;
            transition: all .8s;   
        }

        &::before.newStyle {
            background-color: #f7f7f7;
        }
        
        &::before {
            transform: translateY(-1rem);
        }

        &::after {
            transform: translateY(1rem);
        }
    }
}
 
.navigation__links {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    height: 100vh;
    width: 25rem;
    background-color: $bg-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10rem;
    transform: translateX(25rem);
    transition: all .75s;

    // Dark mode
    &.dark {
        background-color: $bg-dark;
    }

    &--top {
        height: 14%;
        width: 100%;
        background-color: transparent;
        position: absolute;
        top: 0;
        right: 0rem;
        transition: all .75s;
    
        &.navigation__open {
            background-color: #373b44;
        }
    }

    &.navigation__open {
        transform: translateX(0);
    }

    &--link {
        width: 100%;
        color: #373b44;
        font-size: 2.5rem;
        text-align: center;
        text-decoration: none;
        padding: 1rem 0;
        background-color: transparent;
        transition: all .75s;

        &.dark {
            color: $text-light;
        }
        
        &:hover {
            background-color: #eeeeee;
        }
    }
}

.navigation__overlay {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(.2rem);
    visibility: hidden;
    opacity: 0;
    transition: all .75s;
    z-index: 1;

    &.navigation__open {
        visibility: visible;
        opacity: 1;
    }
}

.nav__ham.newStyle {
    background-color: #373b44; 
}

.nav__ham.newStyle::before {
    background-color: #373b44;
} 

.nav__ham.newStyle::after {
    background-color: #373b44;
}

.navigation {

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto 0 3rem 0;
        padding: 1rem;
        border: none;
        border-radius: 1rem;
        font-size: 2rem;
        width: 17.5rem;
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }

    &__SVG {
        
    }
}

.button--dark {

    &.dark-on {
        display: none;
    }
}

.button--light {
    display: none;

    &.light-on {
        display: block;
    }
}






