@use "./variables.scss";
@use "./mixins.scss";

.projects-section {
    @include section-layout;

    h1 {
        @include heading-one;
    }

    h2 {
        @include heading-two;
    }

    .text-container {
        margin: 2.5rem 0 0 0;
        max-width: 1000px;

        p {
            @include paragraph;
        }
    }

    .projects-container {
        width: 100%;

        .project {
            &-heading {
                @include heading-three;
            }

            &-subheading {
                @include paragraph;
            }

            &-text {
                @include paragraph;
            }
        }
    }
}
