@use "./variables.scss";
@use "./mixins.scss";

.projects-section {
    @include section-layout;
    border: solid 1px lightgrey;
    border-radius: .5rem;

    h1 {
        @include heading-one;
    }
    
    h2 {
        @include heading-two;
    }

    .text-container {
        margin: 2.5rem 0 0 0;
        max-width: 1000px;

        p {
            @include paragraph;
        }
    }

    .cards-container {
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        .card {
            border-radius: .5rem;
            border: solid 1px lightgrey;
            height: 20rem;
            width: 12.5rem;
            padding: .75rem .75rem;
        }
    }
}