// Colours
// $dark-grey: #121212;
// $main-text: #f5f5f5;
// $background-grey: #f5f5f5; // Change this in the near future
// $main-text-dark: #121212;

// Breakpoints
$desktop-small: 1100px;
$tablet: 800px;
$mobile-large: 500px;
$mobile-standard: 400px;
$mobile-small: 325px;

:root {
    --bg-color: black;
    --text-color: whitesmoke;
    --modal-colour: darkslategrey;
}

html[data-theme="dark"] {
    --bg-color: black;
    --text-color: whitesmoke;
    --modal-colour: darkslategrey;
}

html[data-theme="light"] {
    --bg-color: whitesmoke;
    --text-color: black;
    ---modal-colour: lightslategrey;
}
