// Breakpoints
$desktop-small: 1100px;
$tablet: 800px;
$mobile-large: 500px;
$mobile-standard: 400px;
$mobile-small: 325px;

:root {
    --bg-color: black;
    --text-color: whitesmoke;
}

html[data-theme="dark"] {
    --bg-color: black;
    --text-color: whitesmoke;
}

html[data-theme="light"] {
    --bg-color: whitesmoke;
    --text-color: black;
}
